/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.page {
  min-width: 320px;
  min-height: 100vh;
  padding-top: 100px;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 18px;
  background-color: var(--background-color, #fff);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: wght var(--main-weight, 400);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font, sans-serif);
    font-size: var(--font-size);
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(697px, 100%);
  margin: 0 auto 100px;
  border: 2px solid var(--accent-color);
  padding: 138px 0 17px;
  color: var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  background-color: var(--background-color);
}

.title {
  margin-bottom: 20px;
  color: var(--accent-color);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.subtitle {
  margin-bottom: 22px;
  font-size: clamp(14px, 2.5vw, 23px);
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__button {
  position: relative;
  margin-bottom: 7px;
  margin-left: 15px;
  border: none;
  padding: 0;
  outline: none;
  opacity: 1;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: all .3s ease;
}

.theme-menu__button:disabled:before {
  color: var(--accent-color);
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: .6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: all .5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: .6;
}

/* Контент для карточек */
.card {
  display: flex;
  flex-direction: column;
  gap: 51.5px;
  width: min(697px, 100%);
  margin: auto auto 50px auto;
}

.cards {
  border: 2px solid var(--accent-color);
  font-style: normal;
  line-height: 21px;
  background-color: var(--background-color);
}

.label {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.border_card {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin: 27px 28px 26px 25px;
}

.card__title {
  border-bottom: 2px solid var(--accent-color);
  padding: 5px 10px;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

.card__text {
  font-size: var(--font-size);
}

/* Водный знак */
.mark {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  opacity: 0.5;
  z-index: 2;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--main-weight);
  font-size: var(--font-size-min);
  text-align: center;
  transform: translate(-60%, 90%);
}

@supports (-webkit-text-stroke: 1px transparent) or (text-stroke: 1px transparent) {
  .mark {
    -webkit-text-stroke: 1px transparent;
    text-stroke: 1px transparent;
    text-shadow: none;
  }
}

/* Настройки кнопак */
.wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 25px 25px 0;
}

.card__like-button,
.save__button,
.pop__up__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  min-height: 38px;
  border: 2px solid var(--accent-color);
  padding: 9px 17px;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.save__button {
  gap: 10px;
  width: 335px;
  height: 58px;
  margin: auto auto 100px auto;
  background-color: var(--background-color);
}

/* Общие стили для фокусировки и ховера */
.pop__up__button:focus,
.card__like-button:focus,
.save__button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.pop__up__button:before,
.card__like-button:before,
.save__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
}

/* Clickable like button styles */
.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: 2px solid transparent;
  outline: none;
  background-color: var(--background-color);
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__icon-button:focus {
  outline: none;
}

.button__text {
  z-index: 10;
  color: var(--color-button-text);
  mix-blend-mode: difference;
}

.pop__up__button {
  width: 257px;
  height: 38px;
  margin-top: 30px;
}

.pop__up {
  width: 357px;
  border: 2px solid var(--accent-color);
  padding: 32px 42px;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.pop__up__window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pop__up__text {
  display: block;
  margin-left: 20px;
  color: var(--accent-color);
  line-height: 150%;
  text-transform: uppercase;
}

.pop__up__image {
  z-index: 10;
  width: 90px;
  height: 40px;
  stroke: var(--accent-color);
}

dialog::backdrop {
  background-color: #000000bf;
}

@media screen and (min-width: 375px) {
  .header {
    padding: 121px 0 17px;
  }

  .card {
    gap: 48.5px;
  }

  .save__button {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 306px;
    height: 80px;
    margin: auto auto 100px;
    padding: 15px 0;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }
}

.floppy {
  width: 21px;
  height: 21px;
  stroke: var(--color-button-text);
  mix-blend-mode: difference;
}

.border_img {
  border-top: 2px solid var(--accent-color);
}